doctype 5
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= pageTitle +' - '+ Site.Title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-docs.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role="banner")
            .navbar-header
                button.navbar-toggle(type="button",data-toggle="collapse",data-target=".bs-navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/admin") 管理中心
            nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
                ul.nav.navbar-nav
                    li.liusers
                        a(href="/admin/users") 用户管理
                    li.litopics
                        a(href="/admin/topics") 文章管理
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") 网站首页
                    li
                        a(href="/logout") 退出登录
    .bs-header
            h1= pageTitle
            p!= pageTips
            
    .bs-container
            .bs-sidebar.hidden-print(role="complementary")
                block leftmenu
                    ul.nav.bs-sidenav
                        li.liusers
                            a(href="javascript:;") 用户管理
                            ul.nav
                                li.liuserlist
                                    a(href="/admin/users") 用户列表
                                li.liuserstat
                                    a(href="/admin/users/statistic") 用户统计
                        li.litopics
                            a(href="javascript:;") 文章管理
                            ul.nav
                                li.litopiclist
                                    a(href="/admin/topics") 文章列表
                                li.licommentlist
                                    a(href="/admin/topics/comments") 评论列表

            .bs-content(role="main")
                block content

    footer.bs-footer(role="contentinfo")
            p Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>        
            p Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            
    script(type='text/javascript', src='/javascripts/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/moment_langs.min.js')
    script(type='text/javascript', src='/javascripts/public.js')
    script(type='text/javascript',src='/javascripts/admin.js')
    if menu
        script(type='text/javascript').
            $(function(){$('li.li#{menu[0]}').addClass('active');$('li.li#{menu[1]}').addClass('active');});
    block script
