extends ../layout
    
block content
  #edittopic.content
      form#formTopic.formLarge
        #title.input-group
            span.input-group-addon 标　题
            input.form-control(type="text",name="title",value="#{topic.title}")
        span.error-block
        #tags.input-group
            span.input-group-addon 关键字
            input.form-control(type="text",name="tags",value="#{topic.tags}")
        span.error-block
        #thumb.input-group
            span.input-group-addon 缩略图
            input.form-control(type="text",name="thumb",value="#{topic.thumb}")
        span.error-block
        #content.input-group
            textarea#txtContent.form-control(name="content",style="height:300px")= topic.content
        span.error-block
        p
        button.btn.btn-primary.btn-block(onclick="SubmitForm('/topic/#{topic.id}','formTopic',this,function(id){location.href='/topic/'+id;});return false;") 保存
        span.error-block

block script
    !=Func.UsePLUpload('thumb', topic.thumb)
    !=Func.UseUEditor('txtContent')
